@font-face { 
  font-family: 'Fira Sans'; 
  src: url('https://img-1303179205.file.myqcloud.com/font/FiraSans-ExtraBold.ttf');
  font-weight: 800;
}
@font-face { 
  font-family: 'Fira Sans'; 
  src: url('https://img-1303179205.file.myqcloud.com/font/FiraSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face { 
  font-family: 'Fira Sans'; 
  src: url('https://img-1303179205.file.myqcloud.com/font/FiraSans-Regular.ttf');
  font-weight: 400;
}