@font-face { 
  font-family: 'Fira Sans'; 
  src: url('./fonts/FiraSans-ExtraBold.ttf');
  font-weight: 800;
}
@font-face { 
  font-family: 'Fira Sans'; 
  src: url('./fonts/FiraSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face { 
  font-family: 'Fira Sans'; 
  src: url('./fonts/FiraSans-Regular.ttf');
  font-weight: 400;
}