@import './mixin.scss';
@import './transition.scss';

$text-color: #2c3f51;
$theme-color: #30849a;
$line-color: linear-gradient(to right, $theme-color, #031013);
$bg-color: #f0f3f6;
$bg-green: #73ffa0;
$focus-border-shadow: 0px 0px 0px 3px rgba(48 ,132 ,154, .5);
$color-blue: #0ab9e6;

// base toolList bottom distance
$base-distance: 60px;
// gap per toolList item
$tool-item-gap: 15px;
// toolList item size
$tool-item-size: 50px;

$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
}