@import './reset.scss';
@import './transition.scss';
@import './markdownTag.scss';

html {
  font-family: 'Fira Sans', 'Helvetica', "Microsoft YaHei", sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f0f3f6;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbb;
  &:hover {
    background-color: #ccc;
  }
}
* {
  box-sizing: border-box;
}
.el-tooltip__popper {
  transform: translateY(5px);
}