@import './reset.scss';
@import './transition.scss';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;800&display=swap');
html {
  font-family: 'Fira Sans', 'Helvetica', "Microsoft YaHei", sans-serif;
}
.uppercase {
  text-transform: uppercase;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f0f3f6;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bbb;
  &:hover {
    background-color: #ccc;
  }
}
* {
  box-sizing: border-box;
}