@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6hwrsp');
  src:  url('fonts/icomoon.eot?6hwrsp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6hwrsp') format('truetype'),
    url('fonts/icomoon.woff?6hwrsp') format('woff'),
    url('fonts/icomoon.svg?6hwrsp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e900";
}
.icon-up:before {
  content: "\e901";
}
.icon-dashboard:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e903";
}
.icon-github:before {
  content: "\e904";
}
.icon-emoji:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e906";
}
.icon-sub:before {
  content: "\e907";
}
.icon-issue:before {
  content: "\e908";
}
.icon-send:before {
  content: "\e909";
}
.icon-logo:before {
  content: "\e90a";
}
.icon-life:before {
  content: "\e90b";
}
.icon-down:before {
  content: "\e90c";
}
.icon-right:before {
  content: "\e90d";
}
.icon-cfc:before {
  content: "\e90e";
}
