@mixin center {
  @apply flex justify-center items-center;
}

@mixin ellipsis {
  @apply overflow-ellipsis whitespace-nowrap overflow-hidden;
}

@mixin colorText($color) {
  background-image: $color;
  background-clip: text;
  color: transparent;
}

@mixin columnCenter {
  @apply flex flex-col items-center justify-center;
}

@mixin overflowText($line) {
  @if $line == 1 {
    @include ellipsis;
  } @else {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    white-space: normal;
    word-break: break-all;
    -webkit-box-orient: vertical;
  }
}
