@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin colorText($color) {
  background-image: $color;
  background-clip: text;
  color: transparent;
}

@mixin columnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin overflowText($line) {
  @if $line == 1 {
    @include ellipsis;
  } @else {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    white-space: normal;
    word-break: break-all;
    -webkit-box-orient: vertical;
  }
}
